@model IEnumerable<ToDoListWebApp.Models.ToDoList>

@{
    ViewData["Title"] = "To Do Lists";
}

<h1>Your To Do Lists</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-toDoListId="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-toDoListId="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-toDoListId="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
